<footer class="footer">
  <img
      class="footer__img--arrow"
      src="./assets/images/ico-arrow.svg"
      alt="Scroll Up"
      title="Scroll Up"
  />

<div class="footer__ul">
  <nav class="footer__uls"> 
    <ul class="fotter__ul--one">
      <li class="footer__ul--one--list">
        <a href="https://adalab.es/" title="Articulos de adalab">Articles</a>
      </li>
    
      <li class="footer__ul--one--list">
        <a href="https://adalab.es/" title="Libros de adalab">Books</a>
      </li>
    
      <li class="footer__ul--one--list">
        <a href="https://adalab.es/" title="Eventos de adalab">Events</a>
      </li>
    
      <li class="footer__ul--one--list">
        <a href="https://adalab.es/" title="Reason de adalab">Reasons</a>
      </li>
    
      <li class="footer__ul--one--list">
        <a href="https://adalab.es/" title="Tips de adalab">Tips</a>
      </li>
    </ul>
  </nav>

  <nav class="footer__uls">
    <ul class="fotter__ul--two">
      <li class="footer__ul--two--list">
        <a href="https://adalab.es/" title="Twitter de adalab">Twitter</a>
      </li>
      <li class="footer__ul--two--list">
        <a href="https://adalab.es/" title="Instagram de adalab">Instagram</a>
      </li>
      <li class="footer__ul--two--list">
        <a href="https://adalab.es/" title="Mastodon.Social de adalab"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </nav>

  <div class="footer__copy">
    <p>&copy; 2017</p>
    <p>we <span class="footer-heart">&#10084</span> components</p>
  </div>

</div>
</footer>
