<footer>
  <img src="./assets/images/ico-arrow.svg" alt="Scroll Up" title="Scroll Up" />
  <div>
    <p>&copy; 2017</p>
    <p>we love components</p>
  </div>

  <nav>
    <ul>
      <li>
        <a href="https://adalab.es/" title="Articulos de adalab">Articles</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://adalab.es/" title="Libros de adalab">Books</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://adalab.es/" title="Eventos de adalab">Events</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://adalab.es/" title="Reason de adalab">Reasons</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://adalab.es/" title="Tips de adalab">Tips</a>
      </li>
    </ul>
  </nav>

  <nav>
    <ul>
      <li>
        <a href="https://adalab.es/" title="Twitter de adalab">Twitter</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Instagram de adalab">Instagram</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Mastodon.Social de adalab"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </nav>
</footer>
