// // fonts

$font-main: 'Roboto Slab', serif;
$font-secondary: 'Roboto', sans-serif;

// // colors

$color-link: #f26002;
$color-burger: #0271bc;
$color-white: #ffffff;
$color-grey: #4a4a4a;
$color-black: #000000;
$color-small: #8ccbea;
$color-main-two: #eff9ff;
$color-footer: #304268;

// media queries

$tablet-size: 768px;
