.footer {
  width: 100%;
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
}

.footer__ul--one {
  list-style: none;
}

.footer__uls {
  padding-bottom: 30px;
}

a,
.footer__ul--one {
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  list-style: none;
}

.footer__img--arrow {
  width: 45px;
  height: 45px;
  background-color: $color-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  // border-radius: 22.5px;
  border-radius: 100%;
  object-fit: contain;
  padding: 5px 10px;
  position: relative;
  top: -24px;
  animation-duration: 3s;
  animation-name: arrowfooter;
  animation-iteration-count: 3;
}

@keyframes arrowfooter {
  0% {
    opacity: 0.2;
    transform: scale(1.5) rotate(-150deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(2) rotate(-75deg);
    background-color: $color-footer;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.footer__copy {
  text-align: center;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: $color-white;
}

.footer__ul--one--list,
.footer__ul--two--list {
  list-style: none;
  text-align: center;
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $color-white;
}
.footer-heart {
  color: $color-link;
}

@media all and (min-width: 768px) {
  .fotter {
    padding: 45px 39px 45px 39px;
  }
  .footer__ul {
    width: 630px;
    display: flex;
    justify-content: space-between;
  }

  .footer__ul--one--list,
  .footer__ul--two--list {
    text-align: left;
  }

  .footer__copy {
    text-align: left;
    order: -1;
  }
}
