.footer {
  width: 100%;
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;

  @media all and (min-width: $tablet-size) {
    padding: 0px 39px 45px 39px;
  }

  &__ul {
    @media all and (min-width: $tablet-size) {
      display: flex;
      width: 690px;
      justify-content: space-between;
      align-items: flex-start;
    }
    @media all and (min-width: $desktop-size) {
      width: 540px;
    }
  }

  &__uls--one,
  &__uls--two {
    padding-bottom: 30px;
    width: 210px;
    @media all and (min-width: $tablet-size) {
      padding-bottom: 0;
    }
    @media all and (min-width: $desktop-size) {
      width: 161px;
    }
  }

  &__ul--one--li,
  &__ul--two--li {
    list-style: none;
    text-align: center;
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 1.88;
    color: $color-white;

    @media all and (min-width: $tablet-size) {
      text-align: left;
    }

    &--a {
      text-transform: uppercase;
      text-decoration: none;
      color: $color-white;
    }
  }

  &__img--arrow {
    width: 45px;
    height: 45px;
    background-color: $color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    object-fit: contain;
    padding: 5px 10px;
    position: relative;
    top: -24px;
    animation-duration: 3s;
    animation-name: arrowfooter;
    animation-iteration-count: 3;
  }

  &__copy {
    width: 210px;
    text-align: center;
    font-family: $font-secondary;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    color: $color-white;
    text-transform: lowercase;

    @media all and (min-width: $tablet-size) {
      text-align: left;
      order: -1;
    }

    @media all and (min-width: $desktop-size) {
      width: 159px;
    }

    &--footer-heart {
      color: $color-link;
    }
  }
}

@keyframes arrowfooter {
  0% {
    opacity: 0.2;
    transform: scale(1.5) rotate(-150deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(2) rotate(-75deg);
    background-color: $color-footer;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
