// main one

// Hay dos formas de hacerlo:
// 1 -> Modificando los paddings cada vez que cambia de dispositivo, se iria adaptando a la pantalla (o mejor opcion -> utilizando witdth en %)
//-- padding movil -> padding: 30px 15px 45px 15px;

//padding tablet
// @media all and (min-width: $tablet-size) {
//   padding: 30px 39px 60px 39px;
// }

//padding desktop
// @media all and (min-width: $desktop-size) {
//   padding: 60px 275px;
// }

// 2 -> Con anchos fijos en cada pantalla, se cambiaria cada vez que cambias de tamaño de pantalla.

// He probado de las dos formas -> Al final he utilizado anchos fijos

.main__one {
  width: 100%;
  background-color: $color-white;

  &--container {
    width: 290px;
    margin: 30px auto 45px auto;

    @media all and (min-width: $tablet-size) {
      width: 690px;
      margin-bottom: 60px;
    }

    @media all and (min-width: $desktop-size) {
      width: 730px;
      margin-top: 60px;
    }

    &--small {
      color: $color-small;
      font-family: $font-secondary;
      font-size: 14px;
      line-height: 2.14;
      margin-bottom: 1px;

      @media all and (min-width: $tablet-size) {
        margin-bottom: 0px;
      }

      @media all and (min-width: $desktop-size) {
        font-size: 16px;
      }
    }

    &--title {
      font-family: $font-main;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      color: $color-black;

      @media all and (min-width: $tablet-size) {
        font-size: 26px;
      }

      @media all and (min-width: $desktop-size) {
        font-size: 32px;
      }
    }

    &--p {
      font-family: $font-secondary;
      font-size: 18px;
      line-height: 1.67;
      color: $color-grey;
      padding-top: 15px;
      padding-bottom: 30px;

      @media all and (min-width: $tablet-size) {
        font-size: 20px;
        padding-top: 30px;
      }
    }

    &--go {
      font-family: $font-secondary;
      text-transform: capitalize;
      font-size: 20px;
      line-height: 2.25;
      text-decoration: none;
      color: $color-link;
      border: 2px solid $color-link;
      border-radius: 22.5px;
      padding: 8.5px 23.3px 8.5px 23.3px;
      transition: 0.3s;

      &:hover {
        background-color: $color-link;
        color: $color-white;
      }

      @media all and (min-width: $tablet-size) {
        padding-left: 31px;
        padding-right: 31px;
      }

      @media all and (min-width: $desktop-size) {
        padding-left: 65.5px;
        padding-right: 65.5px;
      }
    }
  }
}

// finish main one
// main two

.main__two {
  width: 100%;
  background-color: $color-main-two;
  padding: 30px 15px 60px 15px;

  @media all and (min-width: $desktop-size) {
    padding-top: 60px;
  }

  &--title {
    font-family: $font-main;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: $color-black;
    padding-bottom: 45px;

    @media all and (min-width: $tablet-size) {
      font-size: 26px;
    }

    @media all and (min-width: $desktop-size) {
      font-size: 32px;
    }
  }

  &--articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 45px;
    width: 184px;
    margin: 0 auto 45px auto;

    @media all and (min-width: $tablet-size) {
      width: 690px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      column-gap: 30px;
    }

    @media all and (min-width: $desktop-size) {
      width: 1010px;
      align-items: start;
    }

    &--single--title {
      font-family: $font-main;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.67;
      text-align: center;
      color: $color-black;

      @media all and (min-width: $tablet-size) {
        font-size: 24px;
        padding-bottom: 14px;
      }
    }

    &--single--text {
      font-family: $font-secondary;
      font-size: 18px;
      line-height: 1.67;
      text-align: center;
      color: $color-black;

      @media all and (min-width: $tablet-size) {
        font-size: 20px;
      }
    }
  }

  &--btn {
    max-width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color-link;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 2.25;
    color: $color-white;
    text-transform: capitalize;
    opacity: 1;
    transition: 0.5s;

    &:hover {
      opacity: 0.6;
    }

    @media all and (min-width: $tablet-size) {
      max-width: 210px;
    }

    @media all and (min-width: $desktop-size) {
      margin-top: 60px;
      max-width: 255px;
    }
  }
}
